* {
  padding: 0;
  margin: 0;
}

.App {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif !important;
  height: 100%;
}

.light {
  color: black;
  background-color: white;
}
.dark {
  color: white;
  background-color: black;
}

input {
  color: black !important;
}

.dark-text {
  color: white !important;
}

.active-dot::after {
  display: block;
  content: "";
  border-radius: 8px ;
  margin: auto;
  margin-top: 2px;
  height: 4px;
  background: #FFF;
  bottom: 0;
}

.back-btn:active {
  transition: all .3s;
  transform: scale(0.9666)
}

.date-container {
  width: fit-content;
}

.try-again {
  text-decoration: underline 1.7px solid #60A5FA;
}

.try-again:hover {
  cursor: pointer;
}

@media screen and (max-width: 500px) {
  input.custom {
    width: 130px !important;
  }
}